body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


/* Typography */

.faq-title--xl {
  font-size: 40px;
  font-weight: 600;
}

.faq-title--lg {
  font-size: 30px;
  font-weight: 600;
}

.faq-title--md {
  font-size: 20px;
  font-weight: 600;
}

.faq-title--sm {
  font-size: 16px;
  font-weight: 600;
}


/* Buttons */

.faq-button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  outline: none;
  padding: 12px 16px;
  text-align: center;
  transition: all 50ms ease-in;
}

.faq-button--primary {
  background: #222222;
  border-color: transparent;
  color: #FFFFFF;
}

.faq-button--primary:hover {
  background-color: #424242;
  color: #FFFFFF;
}

.faq-button--primary:focus {
  border-color: #3D9AC4;
  color: #FFFFFF;
}

.faq-button--primary:active {
  background-color: #000000;
  color: #FFFFFF;
}

.faq-button--primary:disabled {
  background-color: #B1B1B1;
  color: #FFFFFF;
  cursor: default;
}


/* Form styles */

.faq-input,
.faq-textarea {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #B8B8B8;
  color: #222222;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  padding: 12px 16px;
  width: 100%;
}

.faq-input:focus,
.faq-textarea:focus {
  border-color: #3D9AC4;
}


/* Text links */

.faq-text-link--primary {
  color: #3D9AC4;
  text-decoration: underline;
  transition: all 50ms ease-in;
}

.faq-text-link--primary:hover {
  text-decoration: none;
}


.faq-text-link--secondary {
  color: #222222;
  text-decoration: underline;
  transition: all 50ms ease-in;
}

.faq-text-link--secondary:hover {
  text-decoration: none;
}


/* Layout */

.faq-container {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
}

@media screen and (min-width: 840px) {
  .faq-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-bg-gray {
  background-color: #eee;
}

.faq-group {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-style: solid;
  border-color: #ccc;
}

.faq-group__row {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.faq-group__row:last-child {
  /*border-bottom: 0;*/
}

.faq-m-b-1 { margin-bottom: 4px; }
.faq-m-b-2 { margin-bottom: 8px; }
.faq-m-b-3 { margin-bottom: 16px; }
.faq-m-b-4 { margin-bottom: 32px; }

.faq-m-r-1 { margin-right: 4px; }
.faq-m-r-2 { margin-right: 8px; }
.faq-m-r-3 { margin-right: 16px; }
.faq-m-r-4 { margin-right: 32px; }

.faq-p-t-3 { padding-top: 16px; }
.faq-p-b-3 { padding-bottom: 16px; }
.faq-p-a-3 { padding: 16px; }

.faq-d-flex { display: flex; }
.faq-d-inline-block { display: inline-block; }

.faq-flex-justify-space-between { justify-content: space-between; }

